@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Barlow:ital@1&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  position: relative;
  z-index: 10;
}
html::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  background-color: #edf2f6;
  height: 325px;
  z-index: -1;
  border-bottom-left-radius: 100px;
}

body {
  margin: 0;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 310px;
  max-width: 1110px;
  margin: 0 auto;
  padding: 2.25rem 2rem;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  max-width: 100%;
  height: auto;
}
.container {
  overflow: hidden;
}

.container img {
  padding-left: 1rem;
}

.container .info {
  padding: 3rem 2rem 0;
}

.text {
  color: #919095;
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.text .new {
  margin-right: 0.5rem;
  border-radius: 20px;
  padding: 0.5rem;
  letter-spacing: unset;
  background-color: #222841;
  color: white;
}

.info h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 2rem;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

.info p:last-child {
  font-size: 18px;
}
.buttons {
  padding: 0rem 2rem 3rem;
  display: flex;
}
.buttons button {
  font-size: 10px;
  padding: ;
}

@media screen and (min-width: 768px) {
}
